<p>home-page works!</p>
<div class="d-flex mb-4">
  <div class="text_primary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at blanditiis consectetur dolorum facilis illum, incidunt ipsum laborum nobis, odio, odit quod reiciendis rem suscipit tenetur totam unde voluptate voluptatum!
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur corporis debitis distinctio earum et impedit ipsa, labore quibusdam quidem tempora vitae! Atque ducimus earum error explicabo sit velit. Quis?</div>
</div>

<section class="mb-5">
  <div class="container">
    <div class="banner-wrapper__three d-grid gap-3">
      <rshb-item-card></rshb-item-card>
      <rshb-item-card></rshb-item-card>
      <rshb-item-card></rshb-item-card>
    </div>
  </div>
</section>

