<section class="page-section">
  <div class="hero-banner__img-bg">
    <div class="h-100 d-flex justify-content-center flex-column">
      <div class="container">
        <div class="hero-banner__content-title mb-md-5 mb-3">
          Сервис для платформы <span class="title-bold">«Свое&nbsp;фермерство»</span>
        </div>
        <div class="hero-banner__content-description">
          Автоматический подбор
          <a
            routerLink="/agricultural-machinery">
            <span class="green-gradient hero-banner__content-description_link">с/x&nbsp;техники</span>
          </a>
          и
          <a
            routerLink="/spares">
            <span class="pink-gradient hero-banner__content-description_link">запчастей</span>
          </a>
          для
          <span class="blue-gradient hero-banner__content-description_link">&#123;&nbsp;фермеров&nbsp;&#125;</span>
          и не только
        </div>
      </div>
      <div class="hero-banner__scroll-bar w-100 d-none d-md-block d-lg-none">
        <rshb-scrolling-text></rshb-scrolling-text>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <h2 class="text-black text-center fw-600">
      Поставщики
    </h2>
    <rshb-carousel [slides]="content.SLIDES"></rshb-carousel>
  </div>
</section>

<section class="page-section">
  <div class="full-height bg-black">
    <div class="container">
      <h2 class="text-white py-2 text-center">
        Запчасти
      </h2>
      <div class="banner-wrapper__three d-grid gap-3 gap-lg-4">
        <ng-container *ngFor="let item of MACHINERY_SLICED_LIST">
          <rshb-item-card [card]="item"></rshb-item-card>
        </ng-container>
      </div>
      <a class="rshb-btn rshb-btn__accent mt-3 mt-lg-4 w-100" routerLink="/spares">Смотреть все</a>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <h2 class="text-black text-center fw-600">
      Техника
    </h2>
    <div class="banner-wrapper__three d-grid gap-3 gap-lg-4">
      <ng-container *ngFor="let item of MACHINERY_SLICED_LIST">
        <rshb-item-card [card]="item"></rshb-item-card>
      </ng-container>
    </div>
    <a class="rshb-btn rshb-btn__accent mt-3 mt-lg-4 w-100" routerLink="/agricultural-machinery">Смотреть все</a>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <h3 class="text-center fw-600 mb-3">Вопросы-ответы</h3>
    <div class="d-flex flex-column gap-lg-4 gap-3">
      <rshb-collapsible-panel title="Как искать технику" [opened]="true">
        <div class="rshb-text_dark-main mb-2 fw-400">
          Откройте вкладку техника и посмотрите все представленные товары, также можно отсортировать их по своим предпочтения
        </div>
      </rshb-collapsible-panel>
      <rshb-collapsible-panel title="Как искать запчасти" [opened]="true">
        <div class="rshb-text_dark-main mb-2 fw-400">
          Откройте вкладку запчастей, выберите тип техники, нужную сортировку
        </div>
      </rshb-collapsible-panel>
      <rshb-collapsible-panel title="Как использовать конфигуратор" [opened]="true">
        <div class="rshb-text_dark-main mb-2 fw-400">
          Откройте вкладку конфигуратора, настройте подходящие параметры и нажмите кнопку поиска
        </div>
      </rshb-collapsible-panel>
    </div>
  </div>
</section>

<rshb-scrolling-text></rshb-scrolling-text>

