<section class="page-section__main-banner">
  <div class="container">
    <div class="hero-banner__container rshb-bg_light-gray rounded-5 p-lg-5 p-md-4 p-3">
      <div class="hero-banner__content d-flex h-100 justify-content-center flex-column">
        <rshb-chip></rshb-chip>
        <div class="hero-banner__content-title mb-3">
          Самая лучшая техника
        </div>
        <div class="hero-banner__content-description w-75 mb-3">
          Большой выбор <span class="dark-greed-gradient">сельскохозяйственной</span> техники для различных потребностей по низким ценам и с гарантией от поставщиков
        </div>
        <div class="hero-banner__content-controls">
          <a class="rshb-btn rshb-btn__primary">Подобрать</a>
        </div>
      </div>
      <div class="hero-banner__image">
        <img class="w-100" src="/assets/images/banners/green-tractor.png">
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="p-3 p-md-4 p-lg-5 rounded-5 rshb-bg_light-gray">
      <h3 class="mb-lg-4 mb-3 fw-600">Преимущества покупки техники у нас</h3>
      <div class="d-grid banner-wrapper__two gap-3">
        <ng-container *ngFor="let item of content.ADVANTAGES_CARD">
          <rshb-advantages-card [card]="item"></rshb-advantages-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container-fluid rshb-bg_light-gray p-3">
    <div class="container">
      <h3 class="text-center fw-600 mb-3">Подбирайте подходящие товары</h3>
      <div class="d-flex justify-content-center flex-column flex-md-row gap-3 gap-lg-4 mb-3">
        <select [(ngModel)]="selectedCategory" (ngModelChange)="applyFilters()" class="form-select">
          <option value="Все">Все</option>
          <option value="МТЗ 82">МТЗ 82</option>
          <option value="Кировец K7M 742">Кировец K7M 742</option>
          <option value="Ростсельмаш RSM">Ростсельмаш RSM</option>
          <option value="Case Magnum 340">Case Magnum 340</option>
          <option value="Massey Ferguson">Massey Ferguson</option>
        </select>
        <select [(ngModel)]="selectedSortBy" (ngModelChange)="applyFilters()" class="form-select">
          <option value="Не важно">Выберите критерий сортировки</option>
          <option value="Цена">Цена</option>
          <option value="Год">Год</option>
          <option value="Состояние">Состояние</option>
        </select>
        <select [(ngModel)]="selectedSortOrder" (ngModelChange)="applyFilters()" class="form-select" [disabled]="selectedSortBy === 'Не важно'">
          <option value="Не важно">Не важно</option>
          <option value="asc">По возрастанию</option>
          <option value="desc">По убыванию</option>
        </select>
      </div>
      <div class="myFlex my-3">
        <input class="search-input rounded-3" type="search" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange($event)" placeholder="Введите запрос">
      </div>
      <div class="d-flex justify-content-center flex-column flex-md-row gap-3 mb-3">
        <button (click)="findOptimalItem()" class="w-100 rshb-btn rshb-btn__accent border-0">Найти оптимальный товар</button>
        <button (click)="resetOptimalItem()" class="w-100 rshb-btn rshb-btn__accent-secondary border-0">Сбросить</button>
      </div>
      @if (!showOptimal) {
        <div class="banner-wrapper__three d-grid gap-3 gap-lg-4">
          <ng-container *ngFor="let item of filteredList">
            <rshb-item-card [card]="item"></rshb-item-card>
          </ng-container>
        </div>
      } @else {
        <div *ngIf="optimalItem" class="optimal-item">
          <h4>Оптимальный товар</h4>
          <div class="banner-wrapper__three d-grid gap-3">
            <rshb-item-card [card]="optimalItem"></rshb-item-card>
          </div>
        </div>
      }
    </div>
  </div>
</section>

