@use "variables";
@import "mixins/breakpoints";

.banner-wrapper {
  &__two {
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__three {
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.light-link {
  color: var(--light-green);

  &:hover {
    color: var(--primary-light);
  }
}

.primary-bordered {
  border: 1px solid var(--primary);
}

.big-text {
  font-size: 96px;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.rshb-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--primary-dark);
  }

  @include media-breakpoint-up(md) {
    width: fit-content;
    height: 3rem;
  }

  &__primary {
    background-color: var(--primary);
    color: var(--light-color);
    border-color: transparent;
  }

  &__secondary {
    background-color: var(--primary-dark);
    color: var(--light-color);
    border-color: transparent;
  }

  &__accent {
    background-color: var(--accent);
    color: var(--light-color);
    border-color: transparent;
  }

  &__accent-secondary {
    background-color: var(--accent-secondary);
    color: var(--light-color);
    border-color: transparent;
  }
}

.h-fit-content {
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}

.rshb-border-bottom {
  &__primary {
    border-bottom: 1px solid var(--primary) !important;
  }

  &__primary-dark {
    border-bottom: 1px solid  var(--primary-dark) !important;
  }

  &__accent{
    border-bottom: 1px solid  var(--accent) !important;
  }
}
