@use "variables";

.btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  border: 1px solid var(--primary);
  border-radius: 0.75rem;
  height: 3rem;
}
