@use "variables";
@import "mixins/breakpoints";

$colors: (
  'primary': --primary,
  'primary-dark': --primary-dark,
  'accent': --accent,
  'full-black': --full-black,
  'light-color': --light-color,
  'light-gray': --light-gray,
  'light-green': --light-green,
  'dark-main': --dark-main,
  'dark-gray': --dark-gray,
  'dark-green': --dark-green,
  'alternative-01': --alternative-01,
  'alternative-02': --alternative-02,
  'alternative-03': --alternative-03,
  'secondary-text': --secondary-text
);

.page-section {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
  }

  &__main-banner {
    margin-bottom: 1rem;
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}

.rshb-text {
  @each $name, $value in $colors {
    &_#{$name} {
      color: var(#{$value}) !important;
    }
  }
}

.rshb-bg {
  @each $name, $value in $colors {
    &_#{$name} {
      background-color: var(#{$value}) !important;
    }
  }
}

.green-gradient {
  background-color: #08deaa;
  background-image: linear-gradient(90deg, #08deaa -12.99%, #00aafa 176.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-color: #08deaa;
}

.dark-greed-gradient {
  background-color: var(--primary-dark);
  background-image: linear-gradient(90deg, var(--primary-dark) -12.99%, var(--primary) 176.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-color: var(--primary-dark);
}

.pink-gradient {
  background-color: #fa17d3;
  background-image: linear-gradient(90deg, #fa17d3 -12.99%, #b539ff 176.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-color: #fa17d3;
}

.blue-gradient {
  background-color: #21cbff;
  background-image: linear-gradient(90deg, #21cbff -12.99%, #2691ff 176.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-color: #21cbff;
}

