/* You can add global styles to this file, and also import other style files */

@use "fonts";
@use "variables";
@use "core";
@use "buttons";
@use "base";

a {
  text-decoration: none !important;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}


html, body { height: 100%; }
