:root {
  --primary: #01a077;
  --primary-dark: #006869;
  --primary-light: #8ac6a2;
  --accent: #eb84b1;

  --light-color: #ffffff;
  --light-gray: #f6f6f6;
  --light-green: #e2efe6;

  --dark-main: #141d1a;
  --dark-gray: #2a2a2a;
  --dark-green: #01422e;

  --alternative-01: #fff5ad;
  --alternative-02: #ffc49a;
  --alternative-03: #8fc49d;
}
