<div class="container-fluid px-0 rshb-bg_full-black rounded-top-4">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-end gap-lg-4 gap-md-3 py-2">
      <rshb-logo></rshb-logo>
      <div class="d-flex flex-column flex-md-row align-items-center fixed-margin gap-lg-4 gap-md-3">
        <a class="rshb-footer__item" routerLink="/agricultural-machinery">Github</a>
        <a class="rshb-footer__item" routerLink="/agricultural-machinery">Презентация</a>
      </div>
    </div>
  </div>
</div>
