<div class="product-card rounded-3 rshb-bg__primary-light">
  <div class="product-card__image rshb-bg__primary-light">
    <div class="bg-danger rounded-top-4">
      <div class="p-3">
        <div class="product-card__chip p-1 rounded-3" [innerHTML]="card.type"></div>
      </div>
      <div class="product-image__bg d-flex justify-content-center rounded-3">
        <img [src]="card.image" alt="Product Image">
      </div>
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-details rshb-text_light-color">
      <h3 class="product-title" [innerHTML]="card.name"></h3>
      <p>Год выпуска: <span [innerHTML]="card.year"></span></p>
      <p>Состояние: <span [innerHTML]="card.state"></span></p>
      <p>Стоимость <span [innerHTML]="card.cost"></span></p>
    </div>
    <div class="product-actions d-flex flex-column">
      <div class="d-flex gap-3 mb-3">
        <button class="buy-button w-100">Купить</button>
        <button class="details-button w-100">Подробнее</button>
      </div>
      <button class="details-button w-100">Подробнее</button>
    </div>
  </div>
</div>
