<div class="product-card rounded-3">
  <div class="product-card__image">
    <div class="product-image__bg d-flex justify-content-center rounded-3">
      <img src="/assets/images/carts/10239032.png" alt="Product Image">
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-details">
      <h3 class="product-title">Название техники</h3>
      <p>Модель: John Deere 6135B</p>
      <p>Год выпуска: 2018</p>
      <p>Тип двигателя: Дизельный</p>
      <p>Рейтинг: 3.5</p>
      <p>Пробег: 2500 часов</p>
      <p>Состояние: Хорошее</p>
    </div>
    <div class="product-actions d-flex flex-column">
      <div class="d-flex gap-3 mb-3">
        <button class="buy-button w-100">Купить</button>
        <button class="details-button w-100">Подробнее</button>
      </div>
      <button class="details-button w-100">Подробнее</button>
    </div>
  </div>
</div>
